local_cache/**
notebooks
notebooks/
notebooks/.ipynb_checkpoints/
logs
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytest_cache/
.ipynb_checkpoints
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.conda
*.env
*.virtualenv
/opt/anaconda3/
/opt/miniconda3/
envs/
conda-meta/
.python-version
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.idea/
.vscode/
.DS_Store
.AppleDouble
.LSOverride
._*
Pipfile.lock
poetry.lock
